@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"); 

* { 
    font-family: "Geist", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root { 
    --color-1: black; 
    --color-2: white; 
    --color-3: rgba(238, 238, 238, 0.849); 
    --color-4: grey; 
    --color-5: #730404; 
    --color-6: #b40404; 
    --color-7: #980404; 
    --color-8: rgb(184, 184, 184);
}

img { 
    width: 100%;
}

body {     
    color: var(--color-1);
}

#view { 
    margin-left: 5rem;
    margin-right: 5rem;
}

.border { 
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: rgb(212, 212, 212);
}

.container { 
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header { 
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-2);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

.nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.logo { 
    font-size: 1.1rem; 
    color: var(--color-1);
    font-weight: 600;
}

.icon { 
    font-size: 2rem;
    cursor: pointer;
    gap: 2.5rem; 
    color: var(--color-1);
    transition: all ease-in-out 0.1s;
}

.bx-cart,
.bx-user,
.bx-heart { 
    color: var(--color-1);
}

.bx-cart:hover,
.bx-user:hover,
.bx-heart:hover { 
    color: var(--color-5);
}

.header-top { 
    background-color: var(--color-3);
    padding: 0 1rem;
}

.header-top div { 
    justify-content: space-between;
    height: 2rem;
}

.header-top a { 
    color: var(--color-1); 
    font-size: 0.80rem;
    padding: 0 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.header-top a:hover { 
    color: var(--color-6);
    transition: all 0.2s ease-in-out;
}

.header-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-top-links { 
    display: flex;
    color: var(--color-1);
}

.search-result { 
    padding: 20px;
}

.nav-search { 
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.nav-search input { 
    width: 100%;
    padding: 10px 20px;
    font-size: 16px; 
    border: 2px solid var(--color-1);
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.nav-search input:hover, 
.nav-search input:focus { 
    border-color: var(--color-6);
    box-shadow: 0 0 8px var(--color-5);
}

.nav-search input::placeholder { 
    color: var(--color-4);
}

.nav-search a { 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.contact { 
    background-color: var(--color-3);
    color: var(--text-color-1); 
    padding: 5rem 10rem;
    position: relative; 
}

.contact .con { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    cursor: default;
    justify-items: center;
}

.contact .con-content h2 {
    width: 100%;
    margin-bottom: 2rem; 
    cursor: default;
}

.contact form div { 
    position: relative;
    width: 30%;
    margin: 0 auto; 
}

.contact form .input-group { 
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contact form input { 
    font-size: 1rem;
    text-indent: 2rem;
    width: 300px;
    border-radius: 1rem; 
    padding: 1rem 0;
    outline: none;
    border: none;
    margin-right: 1rem;
}

button, .btn{
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--color-2);
    padding: 1em 1.8em;
    background: linear-gradient(to right, #b73616, #6e29c8);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-5);
}

.footer { 
    background-color: var(--color-2);
    color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-logo {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.footer-logo a { 
    color: var(--color-1);
}

.footer-sections { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-tool { 
    display: flex;
}

.foot-link { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-bottom: 1rem;
}

.foot-links { 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.foot-links h4 { 
    cursor: default;
}

.foot-links a { 
    color: var(--color-1);
    text-decoration: none;
}

.foot-links a:hover { 
    color: var(--color-6);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.foot-end { 
    background-color: var(--color-3);
    color: var(--color-1);
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3px 0;
    position: relative;
    margin: 0;
}

.footer-icon { 
    font-size: 2rem;
    cursor: pointer;
    gap: 2.5rem; 
    color: var(--color-1);
}

.category { 
    margin-bottom: 4rem;
    text-align: center;
}

.category-content { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    gap: 5px;    
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    box-shadow: 0 1px 10px var(--color-8);
    justify-items: center;
    border-radius: 0.5rem;
}

.section-title { 
    margin-top: 5rem;
    justify-items: center;
}

.row { 
    margin: 1rem;
    text-justify: center;
    cursor: pointer;
}

.row:hover { 
    color: var(--color-5);
    transition: ease-in-out all 0.1s;
}

.row-content { 
    margin: 0.5rem;
    color: var(--color-1);
}

.row-content:hover { 
    color: var(--color-5);
}

.row-content i{ 
    justify-self: center;
}

.prod-row { 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.prod-col {
    flex: 0 0 auto; 
    width: 200px;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px var(--color-8);
    text-align: left;
}

.prod-col img { 
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.prod-col h4 { 
    font-size: 1.05rem;
    text-align: center;
}

.prod-col a { 
    font-size: 1.5rem;
    cursor: pointer;
}

.promo-banner { 
    height: auto;
    justify-self: center;
}

.brand { 
    margin-left: 2rem;
    margin-right: 2rem;
    justify-self: center;
}

.brand img { 
    width: 8rem;
    height: auto;
    cursor: pointer;
}

.about { 
    box-shadow: 0 1px 10px var(--color-8);
    padding-top: 0.1px;
    margin-top: 4rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.about-content { 
    text-align: left;
}

.about-text { 
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

#cart table { 
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 4rem;
}

#cart table img {
    width: 70px;
}

.bx-trash {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-7);
    cursor: pointer;
}

.bx-trash:hover{
    color: var(--color-5);
}

.cart { 
    margin: 5rem;
}

table { 
    width: 100%;
    border-collapse: collapse;
}

.cart-info { 
    display: flex;
    flex-wrap: wrap;
}

th { 
    text-align: left;
    padding: 0.5rem;
    color: var(--color-1);
    background-color: var(--color-3);
    font-weight: 400;
}

td { 
    padding: 1rem 0.5rem;
}

td input { 
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
}

td a { 
    color: red;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

td a:hover { 
    color: rgb(167, 0, 0);
    transition: all 0.5s ease-in-out;
}

td img { 
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
}

.total-price { 
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2rem;
}

.total-price table{ 
    border-top: 3px solid var(--color-6);
    width: 100%;
    max-width: 40%;
}

.td:last-child { 
    text-align: right;
}

.tr:last-child { 
    text-align: right;
}

.checkout-btn { 
    margin-top: 3rem;
}

.wishlist-content p { 
    justify-self: center;
    margin-top: 1.5rem;
}

.checkout-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
}

.checkout-container form { 
    padding: 20px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.checkout-row { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.checkout-col { 
    flex: 1 1 300px;
}

.checkout-title { 
    font-size: 24px;
    color: var(--color-1);
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-inputBox { 
    margin: 15px 0;
}

.checkout-inputBox span { 
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-4);
    margin-bottom: 8px;
}

.checkout-inputBox input { 
    width: 100%;
    border: 1px solid var(--color-4);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.checkout-inputBox input:focus {
    border: 1px solid var(--color-1);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkout-flex { 
    display: flex;
    gap: 15px;
}

.checkout-flex .checkout-inputBox { 
    flex: 1;
}

.checkout-inputBox img { 
    height: 34px;
    margin-top: 8px;
    filter: drop-shadow(0 0 1px #000);
}

.pay-btn { 
    display: flex;
    justify-self: right;
}

.error-text { 
    color: var(--color-6);
    margin-top: 5px;
    display: block;
}

header h1 {
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

.products {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: calc(20% - 20px);
    box-sizing: border-box;
}

.card img {
    width: 150px;
    height: auto;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    color: #888;
    font-size: 14px;
}

.card .price {
    font-size: 18px;
    font-weight: bold;
}

.card .stars {
    color: #ffcc00;
}

.card .btn {
    background: linear-gradient(to right, #b73616, #6e29c8);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn i { 
    font-size: 1.3rem;
}

.tools { 
    display: flex;
    justify-content: space-between;
}

.add-to-cart {
    margin-top: 10px;
    justify-self: center;
}