body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.products {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: calc(20% - 20px);
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
}

.card img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  color: #888;
  font-size: 14px;
  margin: 10px 0;
}

.card .price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card .stars {
  color: #ffcc00;
  margin: 10px 0;
}

.card .btn {
  background: linear-gradient(to right, #b73616, #6e29c8);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
}
