<div class="form-container">
    <h2 ng-if="isLogin">Login</h2>
    <h2 ng-if="!isLogin">Register</h2>

    <form name="isLogin ? loginForm : registerForm" ng-submit="isLogin ? login() : register()" novalidate>
        <div class="form-group">
            <label for="username">Username / Email</label>
            <input type="text" id="username" ng-model="user.username" name="username" required>
            <span ng-show="(isLogin ? loginForm : registerForm).username.$touched && (isLogin ? loginForm : registerForm).username.$invalid" style="color: red;">Username is required.</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" ng-model="user.password" name="password" required>
            <span ng-show="(isLogin ? loginForm : registerForm).password.$touched && (isLogin ? loginForm : registerForm).password.$invalid" style="color: red;">Password is required.</span>
        </div>
        <button type="submit" class="btn">{{ isLogin ? 'Login' : 'Register' }}</button>
    </form>

    <div class="toggle">
        <p ng-if="isLogin">Don't have an account? <a href="#" ng-click="toggleForm()">Register</a></p>
        <p ng-if="!isLogin">Already have an account? <a href="#" ng-click="toggleForm()">Login</a></p>
    </div>
</div>
