<div ng-controller="CartController" id="view">
    <div class="section-title">
        <h2>KERANJANG</h2>
    </div>
    
    <section class="cart">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                </tr>
                <tr>
                    <td>Tax</td>
                </tr>
                <tr>
                    <td>Shipping Fee</td>
                </tr>
                <tr>
                    <td>Payment</td>
                </tr>
            </table>
            <a href="" class="checkout-btn btn">CHECKOUT</a>
        </div>
    </section>

</div>