<div ng-controller="HomeController" id="view">

    <section class="slider-container" ng-controller="SliderController">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a ng-href="#/product">
                        <img src="/assets/slider/slider-1.png" alt="slider">
                    </a>
                </div>

                <div class="swiper-slide">
                    <a ng-href="#/product">
                        <img src="/assets/slider/slider-2.png" alt="slider">
                    </a>
                </div>

                <div class="swiper-slide">
                    <a ng-href="#/product">
                        <img src="/assets/slider/slider-3.png" alt="slider">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="category">
        <div class="cat" id="cat">
            <div class="section-title">
                <h2>SHOP BY CATEGORIES</h2>
            </div>

            <div class="category-content">
                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-desktop' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Build up PC</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-laptop' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Laptop</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-tv' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Monitor</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-mouse' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Mouse</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bxs-keyboard' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Keyboard</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bxs-dashboard' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Motherboard</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bxl-microsoft' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Software</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-headphone' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Headphone</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-chair' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Gaming Chair</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a class="row-content" ng-href="">
                        <i class='bx bx-hdd' style="font-size: 5rem;"></i>
                        <div class="cat-text">
                            <h3>Hard Disk</h3>
                            <p>10 Items</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="promo-banner">
        <a ng-href="#">
            <img src="assets/banner/banner-1.png" alt="">
        </a>
    </section>

    <section>
        <div class="about">
            <div class="about-content">
                <div class="section-title">
                    <h2>ABOUT US</h2>
                </div>

                <div class="about-text">
                    <p>
                        Jaya Komputer presents quality computer electronic products from 
                        well-known brands such as notebooks, desktop PCs, assembled PC components, 
                        spare parts, printers, UPS, gadgets, smartphones and hundreds of types of computer 
                        electronic accessory products. By prioritizing product quality, sales service quality 
                        and after-sales service.
                        <br><br>
                        Jaya Komputer always strives to continue to optimally serve your needs in 
                        getting the computer electronic products you need. 
                        Supported by professional staff who are experienced in providing product 
                        recommendations and specifications that suit your needs and budget.
                    </p>
                </div>
            </div>
        </div>
    </section>  

</div>