<div ng-controller="WishlistController" id="view">
    <div class="wishlist-content">
        <div class="section-title">
            <h2>WISHLIST</h2>
        </div>

        <p ng-if="wishlist.length === 0">Browse product and add your product to your wishlist here.</p>

        <div class="prod-row">
            <div class="prod-col" ng-repeat="item in wishlist">
                <a class="remove-wishlist" ng-click="removeFromWishlist(item)">
                    <i class='bx bxs-trash-alt'></i>
                </a>
                <img src="{{item.image}}" alt="Product Image">
                <h4>{{item.name}}</h4>
                <p class="price">Rp{{item.price | number}}</p>
                <button class="add-to-cart" ng-click="addToCart(item)"> + Cart</button>
            </div>
        </div>
    </div>
</div>